# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop

# OS
.DS_Store

/tests/_output/*
!/tests/_output/.gitkeep
tests/SprykerTest/Zed/RabbitMq/_support/_generated/
